<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<aside id=comments>
    <div>
        <h2> Comments </h2>
    </div>
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: '{{ .Title }}',
            owner: 'setNull', //github account
            repo: 'setNull.github.io', // github repo
            oauth: {
            //for localhost:
            //client_id: 'f80f625f97b4923f6db3',
           //client_secret: '3ec58e78578b5a6f871a9a8497c862e7b4a4fc34',
            client_id: '80645cefedb52a774ceb',
            client_secret: 'bb02e7236dce6c0331c36158d6938e6dd2746c7c',
            },
        })
        gitment.render('container')
    </script>
    <!-- 来必力City版安装代码 -->
    <!--
    <div id="lv-container" data-id="city" data-uid="MTAyMC8zNjI4Ni8xMjgyMQ==">
    	<script type="text/javascript">
       (function(d, s) {
           var j, e = d.getElementsByTagName(s)[0];
           if (typeof LivereTower === 'function') { return; }
           j = d.createElement(s);
           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
           j.async = true;
           e.parentNode.insertBefore(j, e);
       })(document, 'script');
    	</script>
    <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
    </div>
    -->
    <!-- City版安装代码已完成 -->
</aside>
</div>
